<div class="d-flex align-items-start align-items-center justify-content-between">
  <div class="d-none d-md-inline align-self-center">Records: 1 - 5 / 100</div>
  <div class="form-inline mx-auto mx-md-0">
    <a class="btn btn-link disabled"><i class="fa fa-chevron-left"></i></a>
    Page
    <span class="d-inline d-md-none">&nbsp;1&nbsp;</span>
    <form class="form-group mx-2 d-none d-md-inline">
      <input class="form-control input-sm" style="text-align: center; width:60px;" type="text" value="1">
    </form>
    of 50
    <a class="btn btn-link"><i class="fa fa-chevron-right"></i></a>
    <span class="d-none d-md-inline">
      <select class="form-control mx-1">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
      per page
    </span>
  </div>
</div>
