<div class="accordion" id="services">
  <div class="card">
    <div class="card-header" id="facial-heading">
      <a data-toggle="collapse" data-target="#facial-body" aria-expanded="true" aria-controls="facial-body">
        Facial
      </a>
    </div>
    <div id="facial-body" class="collapse show" aria-labelledby="facial-heading" data-parent="">
      <div class="card-body">
        <div class="btn-checkbox-group" data-toggle="buttons">
          <div class="form-check btn btn-checkbox btn-block">
            <input class="form-check-input" id="advanced-acne-therapy" type="checkbox" value="advanced-acne-therapy">
            <label class="form-check-label w-100" for="advanced-acne-therapy">
              <div class="media">
                <div class="media-body">
                  <p class="text-lg mb-0"><b>Advanced Acne Therapy</b></p>
                  <p class="text-muted mb-0">60 Minutes</p>
                </div>
                <div class="ml-3">
                  ₱ 300
                </div>
              </div>
            </label>
          </div>
          <div class="form-check btn btn-checkbox btn-block">
            <input class="form-check-input" id="advanced-acne-therapy" type="checkbox" value="advanced-acne-therapy">
            <label class="form-check-label w-100" for="advanced-acne-therapy">
              <div class="media">
                <div class="media-body">
                  <p class="text-lg mb-0"><b>Anti Acne Treatment</b></p>
                  <p class="text-muted mb-0">45 Minutes</p>
                </div>
                <div class="ml-3">
                  ₱ 300
                </div>
              </div>
            </label>
          </div>
          <div class="form-check btn btn-checkbox btn-block">
            <input class="form-check-input" id="advanced-acne-therapy" type="checkbox" value="advanced-acne-therapy">
            <label class="form-check-label w-100" for="advanced-acne-therapy">
              <div class="media">
                <div class="media-body">
                  <p class="text-lg mb-0"><b>Calming Facial</b></p>
                  <p class="text-muted mb-0">45 Minutes</p>
                </div>
                <div class="ml-3">
                  ₱ 300
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="ipl-hair-removal-heading">
      <a data-toggle="collapse" data-target="#ipl-hair-removal-body" aria-expanded="true" aria-controls="ipl-hair-removal-body">
        IPL Hair Removal
      </a>
    </div>
    <div id="ipl-hair-removal-body" class="collapse show" aria-labelledby="ipl-hair-removal-heading" data-parent="">
      <div class="card-body">
        <div class="btn-checkbox-group" data-toggle="buttons">
          <div class="form-check btn btn-checkbox btn-block">
            <input class="form-check-input" id="advanced-acne-therapy" type="checkbox" value="advanced-acne-therapy">
            <label class="form-check-label w-100" for="advanced-acne-therapy">
              <div class="media">
                <div class="media-body">
                  <p class="text-lg mb-0"><b>Beard</b></p>
                  <p class="text-muted mb-0"></p>
                </div>
                <div class="ml-3">
                  ₱ 300
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
