<div class="form-group row">
  <label for="inputEmail3" class="col-2 form-label">Sunday</label>
  <div class="col-lg-5">
    <div class="form-row">
      <div class="col-8">
        <p class="form-control form-control-plaintext">Day Off</p>
      </div>
      <div class="col-4">
        <!-- <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a> -->
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <label for="inputEmail3" class="col-2 form-label">Monday</label>
  <div class="col-lg-5">
    <div class="form-row">
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="Start"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper=""
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="End"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a>
        <!-- <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a> -->
      </div>
    </div>
    <div class="form-row">
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="Start"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="End"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a>
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <a class="form-helper" href=""><i class="far fa-copy mr-1"></i>Copy Previous Day</a>
  </div>
</div>

<div class="form-group row">
  <label for="inputEmail3" class="col-2 form-label">Tuesday</label>
  <div class="col-lg-5">
    <div class="form-row">
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="Start"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="End"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a>
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <a class="form-helper" href=""><i class="far fa-copy mr-1"></i>Copy Previous Day</a>
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-2 form-label">Wednesday</label>
  <div class="col-lg-5">
    <div class="form-row">
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="Start"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="End"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a>
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <a class="form-helper" href=""><i class="far fa-copy mr-1"></i>Copy Previous Day</a>
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-2 form-label">Thursday</label>
  <div class="col-lg-5">
    <div class="form-row">
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="Start"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="End"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a>
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <a class="form-helper" href=""><i class="far fa-copy mr-1"></i>Copy Previous Day</a>
  </div>
</div>


<div class="form-group row">
  <label for="inputEmail3" class="col-2 form-label">Friday</label>
  <div class="col-lg-5">
    <div class="form-row">
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="Start"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        {% include components/atoms/form/select.html 
          form-layout="horizontal"
          isInputLarge=""
          isInputRequired=""
          hasFormLabel=""
          form-label-class=""
          form-label-size=""
          form-label-text=""
          input-size=""
          input-name=""
          input-value=""
          input-placeholder="End"
          hasFormIcon="none"
          form-icon-name=""
          form-icon-placement=""
          hasFormHelper="none"
          form-helper-text=""
          list-value-name=site.data.list-value.time
        %}
      </div>
      <div class="col-4">
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a>
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <a class="form-helper" href=""><i class="far fa-copy mr-1"></i>Copy Previous Day</a>
  </div>
</div>

<div class="form-group row">
  <label for="inputEmail3" class="col-2 form-label">Saturday</label>
  <div class="col-lg-5">
    <div class="form-row">
      <div class="col-8">
        <p class="form-control form-control-plaintext">Day Off</p>
      </div>
      <div class="col-4">
        <!-- <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-times"></i></a> -->
        <a class="btn btn-link btn-link-custom btn-link-dark" href=""><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>
</div>