<div class="form-group">
  {% if include.hasFormLabel == "no-form-label" %}
  {% else %}
    {% include components/atoms/form/label.html %}
  {% endif %}
  <div class="{{ include.input-size}}">
    <div class="btn-group" data-toggle="buttons" style="width: 100%;">
      <label class="btn btn-light active" style="width: 50%;">
        <input type="radio" name="gender" value="Male" checked="">Male
      </label>
      <label class="btn btn-light" style="width: 50%;">
        <input type="radio" name="gender" value="Female">Female
      </label>
    </div>
    {% if include.hasFormHelper == "no-form-helper" %}
    {% else %}
      {% include components/atoms/form/helper.html %}
    {% endif %}
    </div>
</div>