<ul class="nav {{ include.nav-type }} {{ include.isLarge }} {{ include.isStacked }} {{ include.isJustified }} {{ include.isResponsive }} {{ include.isCardHeaderTabs }}">
  {% for menu in include.list-value-name %}
    <li class="nav-item">
      {% if include.hasIcon %}
        <a class="nav-link {% if page.url contains menu.url %} active {% endif %}" href="{{ site.baseurl }}/{{ menu.url }}"><i class="{{ menu.icon }} nav-link-icon"></i>{{menu.text}}</a>
        {% else %}
        <a class="nav-link {% if page.url contains menu.url %} active {% endif %}" href="{{ site.baseurl }}/{{ menu.url }}">{{menu.text}}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>