{% include components/molecules/form-group/input.html 
  form-layout=include.form-layout
  isInputLarge=include.isInputLarge
  isInputRequired=include.isInputRequired
  hasFormLabel=""
  form-label-class=include.form-label-class
  form-label-size=include.form-label-size
  form-label-text="Address Line 1"
  input-size=include.input-size
  input-type="text"
  input-name="address-line-1"
  input-value=""
  input-placeholder="Address Line 1"
  hasFormIcon="none"
  form-icon-name=""
  form-icon-placement=""
  hasFormHelper="none"
  form-helper-text=""
%}

{% include components/molecules/form-group/input.html 
  form-layout=include.form-layout
  isInputLarge=include.isInputLarge
  isInputRequired=include.isInputRequired
  hasFormLabel=""
  form-label-class=include.form-label-class
  form-label-size=include.form-label-size
  form-label-text="Address Line 2"
  input-size=include.input-size
  input-type="text"
  input-name="address-line-2"
  input-value=""
  input-placeholder="Address Line 2"
  hasFormIcon="none"
  form-icon-name=""
  form-icon-placement=""
  hasFormHelper="none"
  form-helper-text=""
%}

{% include components/molecules/form-group/input.html 
  form-layout=include.form-layout
  isInputLarge=include.isInputLarge
  isInputRequired=include.isInputRequired
  hasFormLabel=""
  form-label-class=include.form-label-class
  form-label-size=include.form-label-size
  form-label-text="Address Line 3"
  input-size=include.input-size
  input-type="text"
  input-name="address-line-3"
  input-value=""
  input-placeholder="Address Line 3"
  hasFormIcon="none"
  form-icon-name=""
  form-icon-placement=""
  hasFormHelper="none"
  form-helper-text=""
%}

{% include components/molecules/form-group/input.html 
  form-layout=include.form-layout
  isInputLarge=include.isInputLarge
  isInputRequired=include.isInputRequired
  hasFormLabel=""
  form-label-class=include.form-label-class
  form-label-size=include.form-label-size
  form-label-text="City / Town"
  input-size=include.input-size
  input-type="text"
  input-name="city-town"
  input-value=""
  input-placeholder="City / Town"
  hasFormIcon="none"
  form-icon-name=""
  form-icon-placement=""
  hasFormHelper="none"
  form-helper-text=""
%}

{% include components/molecules/form-group/select.html 
  form-layout=include.form-layout
  isInputLarge=include.isInputLarge
  isInputRequired=include.isInputRequired
  hasFormLabel=""
  form-label-class=include.form-label-class
  form-label-size=include.form-label-size
  form-label-text="Country"
  input-size=include.input-size
  input-name="country"
  input-value=""
  input-placeholder="Country"
  hasFormIcon="none"
  form-icon-name=""
  form-icon-placement=""
  hasFormHelper="none"
  form-helper-text=""
  list-value-name=site.data.list-value.country
%}

{% include components/molecules/form-group/input.html 
  form-layout=include.form-layout
  isInputLarge=include.isInputLarge
  isInputRequired=include.isInputRequired
  hasFormLabel=""
  form-label-class=include.form-label-class
  form-label-size=include.form-label-size
  form-label-text="State / Province / Region"
  input-size=include.input-size
  input-type="text"
  input-name="state-province-region"
  input-value=""
  input-placeholder="State / Province / Region"
  hasFormIcon="none"
  form-icon-name=""
  form-icon-placement=""
  hasFormHelper="none"
  form-helper-text=""
%}

{% include components/molecules/form-group/input.html 
  form-layout=include.form-layout
  isInputLarge=include.isInputLarge
  isInputRequired=include.isInputRequired
  hasFormLabel=""
  form-label-class=include.form-label-class
  form-label-size=include.form-label-size
  form-label-text="ZIP / Postal Code"
  input-size=include.input-size
  input-type="text"
  input-name="zip-postal-code"
  input-value=""
  input-placeholder="ZIP / Postal Code"
  hasFormIcon="none"
  form-icon-name=""
  form-icon-placement=""
  hasFormHelper="none"
  form-helper-text=""
%}